

/* li a {
    display:block;
    
    
    background:rgba(#a0b3b0,0.25);
    color: #a0b3b0;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    background: lighten(#1ab188,5%);
    color: #ffffff;
} */


/* no need, learn how background-image works? */
/* input, textarea {
  font-size:20px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  outline:0;
} 

textarea {
  border:2px solid #a0b3b0;
  resize: vertical;

.button {
  text-transform:uppercase;
  letter-spacing:.1em;
  background: #1ab188;
  color: #ffffff;
  transition:all 1.5s ease;
  -webkit-appearance: none;
  background: lighten(#0000ff,100%);
} */


 /* learn center image */
/* .container_img {
  position: relative;
  text-align: center;
  color: white;
} */

/* .centered_text_over_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

