html {
    overflow-y: scroll; 
}


.logolabel{
    font-family: 'Nerko One', cursive;
    font-size: 18px;
    display:inline;
    padding:0%;
    margin:0%;
    
}


.body{
    background-color: #f5f5f5;
    font-family: 'Titillium Web', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

/* #card-action {
    color: #FFBF00;
}

#card-action:hover {
    color: #FFDA7C;
} */

a {
    text-decoration:none;
    color: #26a69a;
    transition:.5s ease;
    color: lighten(#26a69a,5%);
}

a:hover {
    background:none;
    color: #37F2DF;
}
  
a.btn {
    color: #ffffff;
}


label {
    transform:translateY(6px);
    transition:all 0.25s ease;
    pointer-events: none;
    font-size:16px;
    color: #757575;
} 
  
label.active {
    transform:translateY(50px);
    font-size:20px;
    color: #26a69a;
}

  /* make it work*/
label.highlight {
    color: #26a69a;
}

.brand{
    background: #26a69a;
}
.brand-text{
    color: #26a69a;
}


.tabs .tab a{
    background-color:transparent;
    color:#FFA000;
}

.tabs .tab a:hover, .tabs .tab a.active{
    background-color:rgba(255,160,0,0.1) !important;
    color:#FFA000 !important;
}



.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
    background-color:transparent;
}


.tabs .indicator {
	background-color: #FFA000;
}

.card-content a {
    background-color:transparent;
    text-transform: uppercase;
    font-weight: bold;
    color:#FFA000;
}

.card-content a:hover {
    background-color:transparent;
    text-transform: uppercase;
    font-weight: bold;
    color:#FFD593;
}

.card-content .price-tag {
    background-color:transparent;
    font-weight: bold;
    color:#26a69a;
}